body {
  background-color: white;
}

a {
  color: white;
  font-size: 15px;
  padding-left: 8px;
  padding-right: 8px;
}

a:hover {
  color: #fed136;
}

.laurens {
  margin-top: 20px;

}

.select-bar {
  font-size: 12px;
}

.title-set {
  /*text-align: center;*/
  font-style: italic;
  font-family: "Droid Serif";
  color: #2f7ac7;
}

.param-info {
  text-align: center;
  font-style: italic;
  font-family: "Droid Serif";
  color: #2f7ac7;
}

.expr-title {
  text-align: center;
  font-style: italic;
  font-family: "Droid Serif";
  color: #2f7ac7;
}


h1,
h2,
h3 {
  text-align: center;
}

h2.section-heading {
    padding-top: 40px;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}

h2.section-heading-yellow {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #fed136;
}
h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top:0px ;
}

.index-links a {
  padding-left: 15px;
  padding-right: 15px;
  color: white; 
  font-size: 15px;   
}

.vis-title {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}

.vis-title a {
  text-align: center;
  color: rgba(119, 119, 119, 0.46);
  font-family: "Droid Serif";
  padding-left: 15px;
  padding-right: 15px;
}


.main-body {
    background-image: url(../img/header-bg.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff
}