<html>

  <head>
      <title>Neural Net</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.min.js"></script>

      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/agency.css">
      
      <script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
      <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>

      <link rel="stylesheet" href="css/base.css">
  </head>

  <body ng-app="NeuralNet" class="main-body">
      <div ng-controller="NeuralController">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">


              <header class="header-fixed">
                  <div class="container">
                      <div class="intro-text center-header">
                        <div class="row">

                          <div class = "intro-lead-in">

                              <form name="myForm" style="margin: 0px;">
                                  <label for="repeatSelect"> Repeat select: </label>
                                  <select style="color: grey;" class="select-bar" name="repeatSelect" ng-model="result_id">
                                    <option ng-repeat="result in results" value="{{result.id}}">{{result.name}}</option>
                                  </select>
                              </form>



                          </div>

                          <div style="index-links">
                            
                            <a class="index-links" href="/">HOME</a>
                            <a class="index-links" href="/meta">META</a>
                            <a href="/pca">PCA</a>
                            <a href="/layerEpoch">LAYER</a>
                            <a href="/iter2">IT2</a>
                            <a href="/iter1">IT1</a>
                            <a href="" ng-click="runNet(20)">RUN</a>

                          </div>
                      </div>
                  </div>
              </div>
            </header>



        </div>
      </div>
      </div>

      <script type="text/javascript" src="app.js"></script>
  </body>

</html>