


<html>

  <head>
      <title>Neural Net</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.min.js"></script>

      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/agency.css">
      
      <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.min.js"></script>

      <link rel="stylesheet" href="css/base.css">
  </head>

    
    <body ng-app="NeuralNet">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div ng-controller="VisController">

            <h2 class="section-heading">Iteration 1</h2>
            <h3 class="section-subheading text-muted">Video showing progression over time</h3>

                <div class="vis-title">
                    <a href="/">HOME</a>
                    <a href="/meta">META</a>
                    <a href="/pca">PCA</a>
                    <a href="/layerEpoch">LAYER</a>
                    <a href="/iter2">IT2</a>
                    <a href="/iter1">IT1</a>
                </div>

        

            </div>

<!--             <div class="expr-title">Experiment: 217</div>
            <div class="param-info">Epoch: 20, Layer: 3</div>
            <div class="param-info">No. Hidden Units: 11</div> -->
        </div>
        
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="col-md-6">
              <img src="/img/22082015001519.gif" alt="HTML5 Icon" style="width:100%;">
              <h3 class="section-subheading text-muted">One</h3>
            </div>
            <div class="col-md-6">
              <img src="/img/22082015002704.gif" alt="HTML5 Icon" style="width:100%;">
              <h3 class="section-subheading text-muted">Seven</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="col-md-6">
              <img src="/img/22082015003218.gif" alt="HTML5 Icon" style="width:100%;">
              <h3 class="section-subheading text-muted">Eleven</h3>
            </div>
            <div class="col-md-6">
              <img src="/img/22082015004352.gif" alt="HTML5 Icon" style="width:100%;">
              <h3 class="section-subheading text-muted">Twenty Two</h3>
            </div>
          </div>
        </div>

        </div>

        <script type="text/javascript" src="app.js"></script>

  </body>

</html>