  <html>

    <head>
        <title>Neural Net</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>

        <script src="js/iter2/tabletop.js"></script>
        <script src="js/iter2/rgbcolor.js"></script> 
        <script src="js/iter2/tsne.js"></script>
        <script src="js/iter2/iter1.js"></script>

        <script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/base.css">

    </head>

    <body ng-app="NeuralNet">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
        <div ng-controller="VisController">

            <h2 class="section-heading">Iteration 2</h2>
            <h3 class="section-subheading text-muted">tSNE in the browser</h3>

                <div class="vis-title">
                    <a href="/">HOME</a>
                    <a href="/meta">META</a>
                    <a href="/pca">PCA</a>
                    <a href="/layerEpoch">LAYER</a>
                    <a href="/iter2">IT2</a>
                    <a href="/iter1">IT1</a>
                </div>

            </div>

            <div class="expr-title">Experiment: 217</div>
            <div class="param-info">Epoch: 20, Layer: 3</div>
            <div class="param-info">No. Hidden Units: 11</div>
            <div class="laurens title-set" id="laurens"></div>
        </div>
        </div>


        <script type="text/javascript" src="app.js"></script>
    </body>

</html>