  <html>

    <head>
        <title>Neural Net</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>

        <script src="js/iter2/d3.slider.js"></script>
        <script src="js/iter2/d3.legend.js"></script>
        <script src="js/iter2/tabletop.js"></script>
        <script src="js/iter2/rgbcolor.js"></script> 
        <script src="js/iter2/StackBlur.js"></script>
        <script src="js/iter2/html2canvas.js"></script> 
        <script src="js/iter2/canvg.js"></script> 
        <script src="js/iter2/tsne.js"></script>
        <script src="js/iter2/laurens_tsne.js"></script>

        <link rel="stylesheet" href="css/base.css">

    </head>

    <body ng-app="NeuralNet">

        <div ng-controller="VisController">
            <h1>Hello World</h1>
            <!-- <div>{{coords}}</div> -->
            <div id="laurens"></div>
        </div>

        <a href="/">HOME</a>
        <a href="/meta">META</a>
        <a href="/layerEpoch">LAYER</a>
        <a href="/iter2">IT2</a>

        <script type="text/javascript" src="app.js"></script>
    </body>

</html>