<html>

    <head>
        <title>Neural Net</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
        
        <script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/iter3/metaVis.js"></script>
        <script type="text/javascript" src="js/iter3/MNIST.js"></script>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/base.css">
    </head>

    <body ng-app="NeuralNet">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">

        <div ng-controller="VisController">

            <h2 class="section-heading">Meta tSNE</h2>
            <h3 class="section-subheading text-muted">tSNE applied to tSNE plots</h3>

                <div class="vis-title">
                    <a href="/">HOME</a>
                    <a href="/meta">META</a>
                    <a href="/pca">PCA</a>
                    <a href="/layerEpoch">LAYER</a>
                    <a href="/iter2">IT2</a>
                    <a href="/iter1">IT1</a>
                </div>

                <div class="expr-title">{{human_name}}</div>
                <div class="param-info">Epochs: {{epochs}}</div>
                <div class="param-info">No. Hidden Units: {{hiddens}}</div>
            </div>

            <div class="title-set" id="meta_vis"></div>
        </div>
        </div>

        <script type="text/javascript">

            var str = localStorage.getItem("ngStorage-result");
            var coords = JSON.parse(str);
            console.log("data!!!: ", coords);

            var ID = coords.PARAMS.ID;
            var PARAMS = coords.PARAMS;
            console.log("Params", PARAMS)
            var DATA = coords.DATA;

            function meta_vis() {

              var meta_visd = new metaVis("#meta_vis", mnist_images,
                              DATA.META, DATA.META,
                              DATA.META.length/2, DATA.LAYER, 
                              DATA.TSNE_LABELS, DATA.TSNE_DATA, 500);
              return meta_visd;
            }

            meta_vis();

        </script>

        <script type="text/javascript" src="app.js"></script>


    </body>

</html>